/* Estilos base y componentes comunes */

/* Colores */
:root {
  /* Colores primarios */
  --primary-100: #1c5ccb;
  --primary-200: #1c81de;
  --primary-300: #1fbdf7;

  /* Colores secundarios */
  --secondary-100: #cccccc;
  --secondary-300: #68d46f;

  /* Colores de acento */
  --accent-100: #9be65b;

  /* Colores de texto */
  --text-100: #444648;

  /* Colores de fondo */
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-300: #cccccc;
}

/* Estilos globales */
* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background-color: #f5f5f5;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Barra de navegación superior */
header .nav-topBar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Distribuir el espacio en 3 columnas */
  grid-template-areas: "logo buscador iconos"; /* Áreas para los 3 elementos */
  align-items: center;
  background-color: var(--bg-100);
}

/* Logo */
header .nav-topBar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}

header .nav-topBar .logo a {
  display: block; /* Para que la imagen ocupe todo el área de enlace */
}

header .nav-topBar .logo img {
  max-width: 120px;
  height: auto;
}

/* Buscador */
.buscador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: buscador;
  position: relative;
}

.buscador i {
  position: absolute;
  left: 10px;
  top: 14px;
  color: var(--secondary-100);
  font-size: 16px;
}

.buscador input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 30px;
  border: 2px solid var(--secondary-100);
  
  font-size: 16px;
}

.buscador input:focus {
  border-color: var(--primary-100);
}

/* Contenedor de iconos */
.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: iconos;
}

/* Menú de navegación principal */
.nav-downBar {
  padding: 10px;
  background-color: var(--bg-200);
}

.nav-downBar .nav-downBar-container-items {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-downBar .nav-downBar-container-items li {
  list-style: none;
}

.nav-downBar .nav-downBar-container-items a {
  text-decoration: none;
  color: var(--text-100);
}

.nav-downBar .nav-downBar-container-items a:hover {
  text-decoration: underline;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  header .nav-topBar {
    grid-template-columns: 1fr 2fr 1fr; /* Cambia la proporción de las columnas */
  }

  .nav-downBar {
    flex-direction: column;
    align-items: center;
  }

  .nav-downBar ul {
    flex-direction: column;
    gap: 10px;
  }
}
