*{
    font-family: "Montserrat", sans-serif;
}
.contenedor-formulario{
   background-color: #655e5e81;
   margin: 20px auto;
    
}
@media (min-width:768px){
    .contenedor-formulario{
        max-width: 800px;
        padding: 20px;
    }
}

.cont-principal{
    background-image: url("../img/empty-industrial-room-interior-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.logo{
    max-width: 100px;
    height: auto;
}