.about-section{
    max-height: 400px;
    display: flex;
    align-items: center;
}
.container__logo{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
h1, h2 {
    font-weight: 700;
  }

  .section {
    background-color: #f8f9fa;
    padding: 3rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }

  .icon-list li {
    margin-bottom: 10px;
  }

 

  .btn-primary {
    background-color: #3c87cd;
    border-color: #1f4e79;
  }

  .btn-primary:hover {
    background-color: #163b5a;
    border-color: #163b5a;
  }
 