$primary-100: #1c5ccb;
$primary-200: #1c81de;
$primary-300: #1fbdf7;
$secondary-100: #cccccc;
$secondary-300: #68d46f;
$accent-100: #9be65b;
$text-100: #444648;
$bg-100: #ffffff;
$bg-200: #f5f5f5;
$bg-300: #cccccc;
$primary-400: #1f3c7a;
$fontfamily: 'Montserrat', sans-serif;
$azul-vivo: #1869f5;
$azul-oscuro: #073598;
$azul-claro: #3f61f9;
$azul-oscuro-2: #042a4d;
$azul-oscuro-3: #14274f;