@use "../../utils/mixins";

p {
    font-size: 1.2rem;
    @include mixins.reset;
}

.about-section {
    max-height: 400px;
    @include mixins.flexCenter;
}

.container__logo {
    @include mixins.flexCenter;
}

h1,
h2 {
    font-weight: 700;
}

.section {
    @include mixins.flexCenter;
    flex-direction: column-reverse;
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {

        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}


.icon-list li {
    margin-bottom: 10px;
}

.btn-primary {
    @include mixins.btnStyle(#3c87cd, #1f4e79, #fff);

    &:hover {

        @include mixins.btnStyle(#163b5a, #163b5a, #fff);
    }

}



.container-img-logo {
    max-height: 300px;
    @include mixins.flexCenter;
}

.content-header {
    @include mixins.flexColumnCenter;
    text-align: center;
    gap: 20px;
    padding: 20px;

    p {
        text-align: justify;
    }
}

.container-img img {
    max-width: 100px;

}


@media (max-width: 1024px) {
    .about-section {
        @include mixins.flexColumn;
        max-height: none;
    }

    .section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container__logo {
        margin-bottom: 20px;
    }

    .content-header p {
        font-size: 1rem;
    }

}