@use "../../utils/mixins";

.categorias {
  padding: 20px;

  .categorias-herramientas {
    @include mixins.backgroundImage("/img/herramientas.svg");
  }

  .categorias-pinturas {
    @include mixins.backgroundImage("/img/pinturas.svg");
  }

  .categorias-revestimientos {
    @include mixins.backgroundImage("/img/revestimientos.svg");
  }

  .categorias-accesorios {
    @include mixins.backgroundImage("/img/accesorios.svg");
  }

  .categorias-herramientas:hover,
  .categorias-pinturas:hover,
  .categorias-revestimientos:hover,
  .categorias-accesorios:hover {
    @include mixins.hover-shadow;
  }

  article {
    padding: 15px 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    a {
      @include mixins.textStyle(var(--text-100),
        25px,
        600,
        center,
        normal,
        normal,
        0px 0px 8px #ffffff);
      @include mixins.reset;
    }
  }
}